{% extends 'base.html' %}

    {% block content %}
        <form action='/validate-signup' method='post'>
            <label>
                Username:
                <input type='text' name='user' value="{{user}}"/>
            </label> 
            <span class='error'>{{ u_error }}</span>
            
            <br>

            <label>
                Password:
                <input type='text' name='pass'/>
            </label> 
            <span class='error'>{{ p_error }}</span>

            <br>

            <label>
                Verify Password:
                <input type='text' name='ver_pass'/>
            </label> 
            <span class='error'>{{ vp_error }}</span>

            <br>

            <label>
                Email (optional):
                <input type='text' name='email' value="{{email}}"/>
            </label> 
            <span class='error'>{{ e_error }}</span>

            <br>

            <input type='submit' value='Submit'/>
        </form>
    {% endblock %}